<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-6">
            <a href="profiles.html" class="btn btn-light mb-3 float-left"
              >Back To Profiles</a
            >
          </div>
          <div class="col-6"></div>
        </div>
        <app-profile-header></app-profile-header>
        <app-profile-about></app-profile-about>
        <app-profile-creds></app-profile-creds>
        <app-profile-github></app-profile-github>
      </div>
    </div>
  </div>
</div>
